{
  "env": {
    "browser": true,
    "jest": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": ["airbnb-base"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {}, //blank on purpose in order to remove configurations
      {
        "usePrettierrc": true,
        "withNodeModules": false
      }
    ]
  }
}